<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<h2>Olá, <span th:text="${cliente.nome}"></span>!</h2>
<div>
    <a href="../cliente/cliente_minha_conta.html"><button type="button">Meus Dados</button></a>
    <a href="../cliente/cliente_meus_pedidos.html"><button type="button">Meus Pedidos</button></a>
    <a href="../cliente/cliente_endereco.html"><button type="button">Endereço</button></a>
    <a href=""><button type="button">Sair</button></a>

</div>

<body>
    <div id="pedidos">
        <h3>Meus Pedidos</h3>

        <div th:each="pedido : ${pedidos}">
            <p><strong>Pedido </strong><span th:text="${pedido.numero}"></span></p>
            <p>Status: <span th:text="${pedido.status}"></span></p>
            <p>Data: <span th:text="${pedido.data}"></span></p>
            <p>Produto: <span th:text="${pedido.produto}"></span></p>
            <p>Quantidade: <span th:text="${pedido.quantidade}"></span></p>
            <p>Valor: R$ <span th:text="${pedido.valor}"></span></p>
        
        </div>
    </div>

</body>

</html>