* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url("../img/musica2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 70%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(255, 102, 0, 0.653);
}

/* MENU LATERAL */
.menu-lateral {
    width: 280px;
    background: linear-gradient(180deg, #e6a86b, #ff6c0a);
    color: #ffffff;
    padding: 60px 25px;
    display: flex;
    flex-direction: column;
}

.menu-lateral h2 {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}

.menu-lateral ul {
    list-style: none;
}

.menu-lateral ul li {
    margin: 18px 0;
}

.menu-lateral ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 12px 15px;
    display: block;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.menu-lateral ul li a:hover {
    background: rgba(255, 94, 0, 0.493);
    transform: translateX(8px);
}

/* FORMULÁRIO */
.content {
    flex: 1;
    background: hsla(0, 0%, 100%, 0.95);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    margin-bottom: 20px;
    color: #222;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

textarea {
    resize: none;
    height: 100px;
}

input:focus, textarea:focus {
    border-color: #FF6600;
    box-shadow: 0 0 5px rgba(255,102,0,0.6);
}

/* BOTÕES */
.buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

button {
    background-color: #FF6600;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #060606d3;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
