* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url("../img/musica2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 85%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(255, 102, 0, 0.653);
}

/* MENU LATERAL */
.menu-lateral {
    width: 260px;
    background: linear-gradient(180deg, #e6a86b, #ff6c0a);
    color: #ffffff;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
}

.menu-lateral h2 {
    margin-bottom: 30px;
    font-size: 23px;
    font-weight: bold;
}

.menu-lateral ul {
    list-style: none;
}

.menu-lateral ul li {
    margin: 15px 0;
}

.menu-lateral ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 12px;
    display: block;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.menu-lateral ul li a:hover {
    background: rgba(255, 94, 0, 0.493);
    transform: translateX(8px);
}

/* LISTA DE PRODUTOS */
.content {
    flex: 1;
    background: hsla(0, 0%, 100%, 0.95);
    padding: 30px;
    overflow-y: auto;
}

.content h1 {
    margin-bottom: 20px;
    color: #222;
    text-align: center;
}

a button {
    margin-bottom: 15px;
}

/* TABELA */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background: #ff6c0a;
    color: #fff;
    font-weight: bold;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}

table tr:hover {
    background: #ffe4d1;
}

/* BOTÕES NA LISTA */
button {
    background-color: #FF6600;
    color: #fff;
    border: none;
    padding: 8px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin: 2px;
}

button:hover {
    background-color: #060606d3;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

button.delete {
    background-color: #cc0000;
}
