<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin - CRUD Clientes</title>
    <link rel="stylesheet" th:href="@{/css/crud_clientes.css}">
</head>
<body>
<div class="container">


    <aside class="menu-lateral">
        <h2>Administração</h2>
        <ul>
            <li><a th:href="@{/adm_dashboard}">Dashboard</a></li>
            <li><a th:href="@{/adm_relatorio_produtos}">Relatório Produtos</a></li>
            <li><a th:href="@{/adm_relatorio_vendas}">Relatório Vendas</a></li>
            <li><a th:href="@{/adm/clientes}">Gerenciar Clientes</a></li>
            <li><a th:href="@{/adm/produtos}">Gerenciar Produtos</a></li>
        </ul>
    </aside>


    <main class="content">
        <h1>CRUD - Clientes</h1>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nome}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.cpf}"></td>
                <td>
                    <a class="btn editar" th:href="@{'/adm/clientes/editar/' + ${cliente.id}}">Editar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>
