<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
    <link rel="stylesheet" th:href="@{/css/edit.css}">
</head>
<body>
<h1>Editar Cliente</h1>

<p th:if="${erro}" th:text="${erro}" style="color:red"></p>
<p th:if="${sucesso}" th:text="${sucesso}" style="color:green"></p>

<form th:action="@{}" method="post" th:object="${cliente}"> <!-- Precisa criar endpoint mapeado e editar essa linha -->

    <label>ID:</label>
    <input type="text" th:field="*{id}" readonly style="background-color: #f0f0f0;"><br><br>

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" name="nome" required><br><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}" name="email" required><br><br>

    <label>CPF:</label>
    <input type="text" th:field="*{cpf}" name="cpf" maxlength="14" placeholder="000.000.000-00" required><br><br>

    <label>Nova Senha (deixe em branco para manter a atual):</label>
    <input type="password" name="senha" placeholder="Digite apenas se quiser alterar"><br><br>

    <br><br>

    <button type="submit">Salvar Alterações</button>
    <a th:href="@{/clientes}">Cancelar</a> <!-- Precisa criar endpoint mapeado-->
</form>
</body>
</html>