<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="css/form_produto.css">
</head>
<body>
<div class="container">

    <aside class="menu-lateral">
        <h2>Admin</h2>
        <ul>
            <li><a href="adm_lista_produto.html">Lista de Produtos</a></li>
            <li><a href="adm_form_produto.html">Cadastrar Produto</a></li>
            <li><a href="#">Sair</a></li>
        </ul>
    </aside>


    <main class="content">
        <h1>Cadastrar Produto</h1>
        <form action="salvar_produto.jsp" method="post">
            <label for="nome">Nome do Produto:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="preco">Preço:</label>
            <input type="number" id="preco" name="preco" step="0.01" required>

            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao">

            <div class="buttons">
                <button type="reset">Limpar</button>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </main>
</div>
</body>
</html>
