<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Relatório de vendas</title>
    <link rel="stylesheet" th:href="@{/css/relatorio.css}">
</head>
<body>

<h1>Relatório de vendas</h1>

<form method="get" th:action="@{/relatorio/vendas}">
    <label for="dataInicio">Data de:</label>
    <input type="date" id="dataInicio" name="dataInicio">

    <label for="dataFim">Até:</label>
    <input type="date" id="dataFim" name="dataFim">

    <button type="submit">Pesquisar</button>
</form>

<br>

<table>
    <thead>
    <tr>
        <th>ID Venda</th>
        <th>Data</th>
        <th>Cliente</th>
        <th>Produto</th>
        <th>Qtd.</th>
        <th>Vl. Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="venda : ${vendas}">
        <td th:text="${venda.id}"></td>
        <td th:text="${#temporals.format(venda.data, 'dd/MM/yyyy')}"></td>
        <td th:text="${venda.cliente.nome}"></td>
        <td th:text="${venda.produto.nome}"></td>
        <td th:text="${venda.quantidade}"></td>
        <td th:text="${venda.valorTotal}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
